In [1]:
msg="hello Iam yogesh"
print(msg)

hello Iam yogesh

In [2]:
print(type(msg))

<class 'str'>

In [3]:
print(msg.title())

Hello Iam Yogesh

In [4]:
print(name.upper())
print(name.lower()) #method

NameError: name 'name' is not defined

In [5]:
print(msg.upper())
print(msg.lower())

HELLO IAM YOGESH
hello iam yogesh

In [6]:
# string concatenation
first_name="sathiya"
second_name="priya"
full_name=first_name+second_name
full_name=first_name+ " "+second_name
print(full_name)

sathiya priya

In [7]:
print(full_name.title())

Sathiya Priya

In [8]:
#whitespace,tabs,newlines
print("languages:\n\tpython\n\tjava\n\tc\n\tcpp\n\tsql\n\thtml")

languages:
	python
	java
	c
	cpp
	sql
	html

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("hai")? (<ipython-input-9-9d273bdcf500>, line 1)

In [10]:
a=2
a=a+3
print(a)

5

In [11]:
a="5"
b=10
print(a+b)

TypeError: can only concatenate str (not "int") to str

In [13]:
int a="5"
b=10
print(a+b)

SyntaxError: invalid syntax (<ipython-input-13-7a24bc2f7254>, line 1)

In [14]:
#type casting
a="5"
b=10
print(int(a)+b)

15

In [15]:
a=5
print(type(a))

<class 'int'>

In [16]:
a=5.9999
print(type(a))

<class 'float'>

In [18]:
   #operators
x=20
y=4
print(x/y)
print(x//y) #quotient
print(x%y)  #remainder

5.0
5
0

In [19]:
x=5
y=3
x,y=y,x
print(x,y)

3 5

In [28]:
x=5
y=3
tmp=x
x=y
y=x

print(x,y)

3 3

In [30]:
#lists
name=["priya","nithiya","renu","ram","shanu"]
print(name)

['priya', 'nithiya', 'renu', 'ram', 'shanu']

In [31]:
print(name[0:2])

['priya', 'nithiya']

In [32]:
print(name[1::])

['nithiya', 'renu', 'ram', 'shanu']

In [34]:
print(name[2:5:1])

['renu', 'ram', 'shanu']

In [35]:
print(name[::2])

['priya', 'renu', 'shanu']

In [37]:
a_list=[1,4,20,56,23,"hello",6.9,"python",80]
print(a_list)
a_list.reverse()
print(a_list)

[1, 4, 20, 56, 23, 'hello', 6.9, 'python', 80]
[80, 'python', 6.9, 'hello', 23, 56, 20, 4, 1]

In [58]:
a_list.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [57]:
name.sort()
print(name)

['nithiya', 'priya', 'renu']

In [44]:
name.remove(name[4])
print(name)

IndexError: list index out of range

In [59]:
name.remove(4)
print(name)

ValueError: list.remove(x): x not in list

In [47]:
name.remove(ram)
print(name)

NameError: name 'ram' is not defined

In [68]:
name.remove("ram")
print(name)

ValueError: list.remove(x): x not in list

In [69]:
name.remove("ram")
print(name)

ValueError: list.remove(x): x not in list

In [71]:
b_list=[23,34,56,67,12,59,70,41,93,80,33]
print(b_list)

[23, 34, 56, 67, 12, 59, 70, 41, 93, 80, 33]

In [67]:
print(b_list.reverse())

None

In [72]:
b_list.reverse()
print(b_list)

[33, 80, 93, 41, 70, 59, 12, 67, 56, 34, 23]

In [75]:
b_list.reverse()
print(b_list)

[93, 80, 70, 67, 59, 56, 41, 34, 33, 23, 12]

In [77]:
b_list.remove(67)
print(b_list)

ValueError: list.remove(x): x not in list

In [78]:
b_list.append(10)
print(b_list)

[93, 80, 70, 59, 56, 41, 34, 33, 23, 12, 10]

In [80]:
b_list.insert(0,1)
print(b_list)

[1, 93, 80, 70, 59, 56, 41, 34, 33, 23, 12, 10]

In [81]:
b_list.remove(10)
print(b_list)

[1, 93, 80, 70, 59, 56, 41, 34, 33, 23, 12]

In [82]:
b_list.insert(2,11)
print(b_list)

[1, 93, 11, 80, 70, 59, 56, 41, 34, 33, 23, 12]

In [83]:
b_list.remove(b_list[2])
print(b_list)

[1, 93, 80, 70, 59, 56, 41, 34, 33, 23, 12]

In [ ]:
b_list.